body {
    background-image: url(../images/background.jpg);
}

.container {
    background-color: black;
    color: white;
    min-width: 80%;
    margin-top: 30px;
    padding-top: 20px;
}

header {
    background-color: white;
}